<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='PostFunction.js') }}"></script>
    <title>Main</title>
</head>
<body>
    <a class="a_main" href="http://localhost:8000/add_new_student">add_new_student</a>
    <a class="a_main" href="http://localhost:8000/find_student_score">find_student_score</a>
    <a class="a_main" href="http://localhost:8000/delete_student">delete_student</a>
    <a class="a_main" href="http://localhost:8000/update_student_score">update_student_score</a>
</body>
</html>