<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add New Student</title>
    <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet">
    <script>
        function sendGet() 
        {
            name = document.getElementById("name").value;
            score = document.getElementById("score").value;
            window.location = "http://localhost:8000/update_student_score_submit/" + name + "/" + score;
        }
    </script>
</head>

<body>

    Name:
    <input type="text" name="name" id="name">
    <br>
    New Score:
    <input type="text" name="score" id="score">
    <br>
    <input type="button" value="submit" onclick="sendGet()">
    {% if status == "afterdelete" %}
        "done"
    {% endif %}
</body>

</html>